<!DOCTYPE html>
<html lang="en">
    <base href="../">
    <head>
        <title>App Dat Xe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/styles.css" >
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        
        <script src="./js/jquery.js"></script>
        <script src="./js/sweet.js"></script>
        <script src="./js/axios.js"></script>        
              
    </head>
    <body>
    <div id="wrap_container">
        <div id="header">
            <h1>MANAGE ORDER CAR</h1>
        </div>
        <div id="order_container">
            <label for="InputPhone">Phone Number</label>
            <input class="form-control" type="text" id="phone" placeholder="Enter phone number" maxlength="11">
            <label for="InputAddress">Address Pickup</label>
            <input class="form-control " type="text" id="address" placeholder="Enter address">
            <label for="TexareaOther">Other details</label>
            <textarea class="form-control " rows="3" placeholder="Enter other details" id="otherDetails"></textarea>
            <div class="cc-selector">
                <input id="bike" type="radio" name="vehicle" value="bike" checked="checked" />
                <label class="drinkcard-cc bike" for="bike"></label>
                <input id="car" type="radio" name="vehicle" value="car" />
                <label class="drinkcard-cc car"for="car"></label>
            </div>
            <button type="button" class="btn btn-danger btn-lg btn-block" id="btn_order">Set vehicles</button>
        </div>
        <div id="history_container">
            <textarea class="form-control" rows="10" placeholder="History Order Car" readonly></textarea>
        </div>
    </div>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAIla57DU_N_8Lzo1nXmePnghTu-60KTfQ&libraries=places&callback=autoComplete' async defer></script>    
    <script src="./process/main.js"></script>
    </body>
</html>